.navbar__main {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav__main {
  color: #00d7ff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.images {
  height: 200px;
  width: 200px;
  border: grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
